<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Employee Details</title></head>
<body>
<h1>Details for Employee #<span th:text="${employee.id}"></span></h1>
<p><b>Name:</b> <span th:text="${employee.name}"></span></p>
<p><b>Role:</b> <span th:text="${employee.role}"></span></p>
<p><b>Phone:</b> <span th:text="${employee.phone}"></span></p>
<p><b>Address:</b> <span th:text="${employee.address}"></span></p>

<a href="/employees">Back</a> |
<a th:href="@{'/employees/edit/' + ${employee.id}}">Edit</a>
</body>
</html>
